@page
@model CA2_Prep.Pages.CadetDetailsModel
@{
    ViewData["Title"] = "CadetDetails";
}

<h2>CadetDetails</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Division</th>

        </tr>
    </thead>
    <tr>
        <td>@Model.Officer.FirstName</td>
        <td>@Model.Officer.Surname</td>
        <th>@Model.Officer.DOB.ToShortDateString()</th>
        <th>@Model.Officer.Gender</th>
        <th>@Model.Officer.Division</th>
    </tr>
</table>

<form method="post">
    <input type="hidden" asp-for=Officer.ID>
    <button type="submit">Delete</button>
</form>